{%
  set venue = {
      'title'       : '91springboard, New Delhi'
    , 'subtitle'    : ''
    , 'poster'      : ''
    , 'courtesy'    : ''
    , 'address'     : '91springboard<br>B1/H3 Lower ground floor,<br>Mohan Estate,<br>Mathura Road,<br>New Delhi - 110 044'
    , 'landmark'    : 'Landmarks: Haldiram’s Restaurant, Audi and BMW car showrooms. Closest Metro Station: Mohan Estate'
    , 'map'         : {
        'osm'       : {
            'label' : '91springboard, New Delhi'
          , 'zoom'  : 14
          , 'marker': '28.517321, 77.294957'
        }
      , 'google'    : 'http://goo.gl/maps/VT4U4'
    }
    , 'city'        : {
          'title'       : 'New Delhi'
        , 'map'         : {
            'osm'       : {
              'label'   : 'New Delhi'
            , 'zoom'    : 3
            , 'marker'  : '28.6100, 77.2300'
          }
        }
        , 'address'     : 'New Delhi<br>India'
    }
    , 'directions' : [
        {
          'from' : 'Delhi'
        , 'route' : '<p>On Mathura Road, keep a look out for the BMW &amp; Audi showrooms. They will be on your right after the Mohan Estate metro station if you are coming from Ashram side. Else, on your left before Mohan Estate metro station if you are coming from Badarpur side. Take the road in-between the two showrooms &amp; perpendicular to Mathura road. We are the third building, red colored, on your left (same side as Audi showroom) on this road.</p>'
      }
      , {
          'from' : 'Gurgaon'
        , 'route' : '<p>Go on Faridabad-Gurgaon highway to Faridabad. From the midway toll, travel 7.8 km toward Faridabad. Take left on Suraj kund road. Travel 6.2 km, bear left with road. Travel 1.8 km and take right after 20 story Omaxe hills apartments. Travel 500 metres and take right. Travel 1.7 km and take left onto Mathura road. On Mathura road, travel 6.4 km (cross toll, cross badarpur flyover towards delhi). Take a left into the road that goes between the Audi and BMW showrooms. 91springboard is located two buildings (red brick) behind Audi, in the basement.</p>'
      }
    ]
  }
%}