{%
  set venue = {
      'title'       : '91springboard, New Delhi'
    , 'subtitle'    : ''
    , 'poster'      : ''
    , 'courtesy'    : ''
    , 'address'     : '91springboard<br>B1/H3 Lower ground floor,<br>Mohan Estate,<br>Mathura Road,<br>New Delhi - 110 044'
    , 'landmark'    : 'Landmarks: Haldiram’s Restaurant, Audi and BMW car showrooms. Closest Metro Station: Mohan Estate'
    , 'map'         : {
        'osm'       : {
            'label' : '91springboard, New Delhi'
          , 'zoom'  : 14
          , 'marker': '28.517321, 77.294957'
        }
      , 'google'    : 'http://goo.gl/maps/VT4U4'
    }
  }
%}