{%
  set venue = {
      'title'       : 'Inmobi, Bellandur'
    , 'subtitle'    : 'Bangalore'
    , 'poster'      : ''
    , 'courtesy'    : ''
    , 'address'     : '8th Floor, Delta Block, Embassy Tech Square, Marathalli-Sarjapur Outer Ring Road, Bangalore, Cessna Business Park Main Rd, Kaverappa Layout, Kadubeesanahalli, Bangalore, Karnataka 560103'
    , 'map'         : {
        'osm'       : {
            'label' : 'Inmobi, Bellandur, Bangalore'
          , 'zoom'  : 14
          , 'marker': '12.9351645, 77.6948096'
        }
      , 'google'    : 'https://goo.gl/maps/GuENF'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
  }
%}