{%
  set venue = {
      'title'       : 'Inmobi, Bellandur'
    , 'subtitle'    : 'Bangalore'
    , 'poster'      : ''
    , 'courtesy'    : ''
    , 'address'     : '8th Floor, Delta Block, <br>Embassy Tech Square, <br>Marathalli-Sarjapur Outer Ring Road, <br>Bangalore, <br><br>Cessna Business Park Main Rd, <br>Kaverappa Layout, Kadubeesanahalli, <br>Bangalore, Karnataka 560103'
    , 'map'         : {
        'osm'       : {
            'label' : 'Inmobi, Bellandur, Bangalore'
          , 'zoom'  : 14
          , 'marker': '12.9351645, 77.6948096'
        }
      , 'google'    : 'https://goo.gl/maps/GuENF'
    }
  }
%}