{%
  set venue = {
      'title'       : 'Thoughtworks, Tharamani road'
    , 'subtitle'    : 'Chennai'
    , 'poster'      : ''
    , 'courtesy'    : ''
    , 'address'     : 'ThoughtWorks Technologies (India) Pvt Ltd.<br>Ascendas International Tech Park<br>Zenith - 9th Floor<br>Tharamani Road<br>Tharamani<br>Chennai - 600 113, India '
    , 'map'         : {
        'osm'       : {
            'label' : 'Thoughtworks, Tharamani road, Chennai'
          , 'zoom'  : 14
          , 'marker': '12.983741, 80.246503'
        }
      , 'google'    : 'http://goo.gl/maps/ZB5Ns'
    }
  }
%}