{%
  set venue = {
      'title'       : 'Thoughtworks, Yerawada'
    , 'subtitle'    : 'Pune'
    , 'poster'      : ''
    , 'courtesy'    : ''
    , 'address'     : 'ThoughtWorks Technologies (India) Pvt Ltd.<br>6<sup>th</sup> Floor, Binarius Building,<br>Deepak Complex, National Games Road,<br>Beside Sales Tax Office,<br>Shastrinagar, Yerawada<br>Pune — 411006'
    , 'map'         : {
        'osm'       : {
            'label' : 'Thoughtworks, Yerawada, Pune'
          , 'zoom'  : 14
          , 'marker': '18.553406, 73.892102'
        }
      , 'google'    : 'http://goo.gl/maps/ZB5Ns'
    }
  }
%}