{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'conference'
    , 'date'  : '16 - 17 May'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'     : 'Check-in &amp; Breakfast'
      }
      , {
          'slot'      : '09:15 am'
        , 'title'    : 'introductions'
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'    : '1067-building-elastic-infrastructures'
        , 'track2'    : '1115-when-the-internet-bleeded'
      }
      , {
          'slot'      : '10:15 am'
        , 'track1'    : '1108-quick-prototyping-with-lxc-and-puppet'
        , 'track2'    : '1128-best-practices-in-development-and-testing-on-aws'
      }
      , {
          'slot'      : '11:00 am'
        , 'title'     : 'Tea break'
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'    : '1109-avoiding-single-point-of-failure-in-a-multi-servic'
        , 'track2'    : '1112-mesos-cluster-management-framework-and-its-role-at'
      }
      , {
          'slot'      : '12:15 pm'
        , 'track1'    : '1048-production-is-priority-self-fix-heal-techniques'
        , 'track2'    : '1041-building-orchestration-and-configuration-with-ansi'
      }  
      , {
          'slot'      : '01:00 pm'
        , 'track1'    : 'lunch-day1'
        , 'track2'    : 'lunch-day2'
      }
      , {
          'slot'      : '02:00 pm'
        , 'track1'    : '1042-how-fast-can-you-onboard-a-new-team-member'
        , 'track2'    : '1063-citoengine-alert-management-and-automation-tool'
      }
      , {
          'slot'      : '02:20 pm'
        , 'track1'    : '1104-scale-anything-with-haproxy'
        , 'track2'    : '1034-automation-using-robotframework-for-embedded-devic'
      }
      , {
          'slot'      : '02:40 pm'
        , 'track1'    : '1103-tsuru-serve-it-yourself'
        , 'track2'    : '1006-scaling-to-2000-request-per-second-with-mongodb'
      } 
      , {
          'slot'      : '03:00 pm'
        , 'track1'    : '1113-diggin-diamonds-from-a-coal-minex'
        , 'track2'    : 'flash-talks'
      }
      , {
          'slot'      : '03:45 pm'
        , 'title'     : 'Tea break'
      }
      , {
          'slot'      : '04:15 pm'
        , 'track1'    : 'flash-talks'
        , 'track2'    : '1131-microsoft-azure-infrastructure-services-foundation'
      }
      , {
          'slot'      : '05:00 pm'
        , 'track1'    : '1045-testing-infrastructure-code-using-test-kitchen-doc'
        , 'track2'    : '1123-scaling-databases-with-a-database-abstraction-laye'
      } 
      , {
          'slot'      : '05:45 pm'
        , 'track1'    : ''
        , 'track2'    : 'closing'
      } 
      , {
          'slot'      : '06:15 pm'
        , 'track1'    : ''
        , 'track2'    : 'dinner'
      }     
    ]
  }
%}