{%
  set items = [
    {
        'id'    : 'sreekandh'
      , 'name' : 'Sreekandh Balakrishnan'
      , 'designation': 'ReEngineering / Technology Advisor, Informatics India Ltd'
      , 'twitter' : 'gnuyoga' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/3c251c592e23493dab9a3b2f0615e6c0.jpeg'
    }
    , {
        'id'    : 'vamsee'
      , 'name'  : 'Vamsee Kanakala'
      , 'designation': 'Devops Guy at Viamentis Technologies'
      , 'twitter' : 'vamsee' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/7ce03524be29410084833b5c085ec8ce.jpeg'
    }
    , {
        'id'    : 'ajey'
      , 'name' : 'Ajey Gore'
      , 'designation': 'Founder at Innovation and Technology Trust'
      , 'twitter' : 'AjeyGore' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/61e6a0130e45418c800fc8d6edef2234.jpeg'
    }
    , {
        'id'    : 'ranjib'
      , 'name' : 'Ranjib Dey'
      , 'designation': 'System administrator at PagerDuty'
      , 'twitter' : 'RanjibDey' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/859e178b8ef74910ab958744d1df513b.jpeg'
    }
  ]
%}