{%
  set items = [
    {
        'id'    : 'vamsee'
      , 'name'  : 'Vamsee Kanakala'
      , 'designation': 'Devops Guy at Viamentis Technologies'
      , 'twitter' : 'vamsee' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/03608587933f43219c630878a9c7a4c4.jpeg'
    }
    , {
        'id'    : 'sreekandh'
      , 'name' : 'Sreekandh Balakrishnan'
      , 'designation': 'ReEngineering / Technology Advisor, Informatics India Ltd'
      , 'twitter' : 'gnuyoga' 
      , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/8d119c212b73413b9f974906320755eb.jpeg'
    }
  ]
%}