{%
  set items = [
    {
        'title'       : 'An introduction to SaltStack'
      , 'speaker'     : 'Mike Place'
      , 'designation' : 'Sr Product Engineer, SaltStack'
      , 'type'        : ''
      , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/d2a1eea8b723470da232165f407bf0c2.jpeg'
    }
    , {
        'title'       : '10 reasons why you should prefer PostgreSQL to MySQL'
      , 'speaker'     : 'Anand Chitipothu'
      , 'designation' : 'Software consultant and trainer'
      , 'type'        : ''
      , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/2c422d2f8fab45c28ef97b3b9badbc54_w314_h314.jpeg'
    }
  ]
%}