{%
  set items = [
    {
        'title'       : 'An introduction to SaltStack'
      , 'speaker'     : 'Mike Place'
      , 'designation' : 'Sr Product Engineer, SaltStack'
      , 'type'        : ''
      , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/b353e2c6242a4ff282aa996b8c8f804d.png'
    }
    , {
        'title'       : 'Why favor Icinga over Nagios'
      , 'speaker'     : 'Bernd Erk'
      , 'designation' : 'Co-founder & Project Organizer, Icinga'
      , 'type'        : ''
      , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/a259c0aa451d42328a3e39ade4e1c929.png'
    }
    , {
        'title'       : 'Rewriting for Scale @ Parse.com'
      , 'speaker'     : 'Abhishek Kona'
      , 'designation' : 'Backend team, Parse'
      , 'type'        : ''
      , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/81bf52791e444246ab27f3d8595d7678.png'
    }
  ]
%}