{%
  set items = [
     {
        "title" : "Automating server configuration for cloud deployments"
      , "when"  : "15 March 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Inmobi, Bellandur, Bangalore"
      , "link"  : "/2014/runup-bangalore"
      , "blurb" : "Talks and discussions about: (1) Automating server configuration for cloud deployments &amp; (2) Chef, Puppet, Vagrant or Docker"
    }   
    , {
        "title" : "Pune — Theme TBA"
      , "when"  : "22 March 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Thoughtworks, Pune"
      , "link"  : "/2014/runup-pune"
      , "blurb" : ""
    }   
    , {
        "title" : "Delhi — Theme TBA"
      , "when"  : "5 April 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Venue TBA"
      , "link"  : "/2014/runup-delhi"
      , "blurb" : ""
    }  
    , {
        "title" : "Chennai — Theme TBA"
      , "when"  : "12 April 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Venue TBA"
      , "link"  : "/2014/runup-chennai"
      , "blurb" : ""
    }
  ]
%}