{%
  set items = [
     {
        "title" : "Automating server configuration for cloud deployments"
      , "when"  : "15 March 2014"
      , "timeline"  : "past"
      , "venue" : "Inmobi, Bellandur, Bangalore"
      , "sponsor_logo": "https://imgee.s3.amazonaws.com/imgee/21e95f708c5d4695b49a31e47a35c6a1_w300_h42.png"
      , "sponsor_link": "http://www.inmobi.com/"
      , "link"  : "/2014/runup-bangalore"
      , "hgtv"  : "https://hasgeek.tv/rootconf/2014-bangalore"
      , "blurb" : "A lot of people are moving to the cloud now &amp; automation is what can make their life easy. This event covers 3 talks around this using tools like Docker, Chef, Jenkins, Puppet and Vagrant!"
    }   
    , {
        "title" : "Achieving scale with your infrastructure & webapps"
      , "when"  : "22 March 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Thoughtworks, Yerawada, Pune"
      , "sponsor_logo": "https://imgee.s3.amazonaws.com/imgee/7ae3bda5a08543fcaab23f56824af744_w300_h46.png"
      , "sponsor_link": "http://www.thoughtworks.com/"
      , "link"  : "/2014/runup-pune"
      , "blurb" : "Scaling &mdash; as much as it is a science, is also considered to be an art. The event brings to you case studies and tool demos that can help you look at a variety of experiences and information centred around scaling."
    }   
    , {
        "title" : "Delhi — Theme TBA"
      , "when"  : "5 April 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Venue TBA"
      , "sponsor_logo": ""
      , "link"  : "/2014/runup-delhi"
      , "blurb" : ""
    }  
    , {
        "title" : "Chennai — Theme TBA"
      , "when"  : "12 April 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Venue TBA"
      , "sponsor_logo": ""
      , "link"  : "/2014/runup-chennai"
      , "blurb" : ""
    }
  ]
%}