{%
  set items = [
     {
        "title" : "Automating server configuration for cloud deployments"
      , "when"  : "15 March 2014"
      , "timeline"  : "past"
      , "venue" : "Inmobi, Bellandur, Bangalore"
      , "sponsor_logo": "https://imgee.s3.amazonaws.com/imgee/21e95f708c5d4695b49a31e47a35c6a1_w300_h42.png"
      , "sponsor_link": "http://www.inmobi.com/"
      , "link"  : "/2014/runup-bangalore"
      , "hgtv"  : "https://hasgeek.tv/rootconf/2014-bangalore"
      , "blurb" : "A lot of people are moving to the cloud now &amp; automation is what can make their life easy. This event covers 3 talks around this using tools like Docker, Chef, Jenkins, Puppet and Vagrant!"
      , "schedule"  : [
          {
            'slot'      : '09:00 – 09:30'
          , 'title'     : 'Registrations &amp; checkin'
        }
        , {
            'slot'      : '09:30 – 09:45'
          , 'title'     : 'Introductions'
        }
        , {
            'slot'        : '09:45 – 10:30'
          , 'title'       : 'Introduction to Docker &amp; Chef'
          , 'speaker'     : 'Kamalika Majumder'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/c49d2f8472e24fefa6fb56b511691493_w80_h80.jpeg'
          , 'designation' : 'Devops and Infrastructure automation specialist @ Thoughtworks'
          , 'linkedin'    : 'http://www.linkedin.com/in/kamalikamajumder'
          , 'twitter'     : 'mjkamalika'
          , 'description' : 'Kamalika will introduce you to Docker and chef and how they can be used to automate your developer environment. This talk will be an introduction to the topics that might be helpful for those who attend her final talk at rootconf, if it is selected.'
        } 
        , {
            'slot'        : '10:30 – 11:15'
          , 'title'       : 'DevOps – Culture of continuous delivery &amp; collaboration'
          , 'speaker'     : 'Vinothini Raju'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/1a8baf6d8a70452081cae5e13df8110d_w80_h80.png'
          , 'designation' : 'Founder &amp; CEO @ TROV IT Consulting &amp; Services Pvt Ltd.'
          , 'linkedin'    : 'http://in.linkedin.com/pub/vinothini-raju/5/7ab/981'
          , 'twitter'     : 'vinothiniraju'
          , 'description' : '<p>The talk will give an introduction about DevOps, continuous integration, delivery &amp; deployment. It will also given an insight in to how the teams can collaborate to simplify development, testing and server deployments in a cloud. Following the talk, the demo will showcase how a Jenkins job can pull code from git, launch a new instance in AWS, configure a sample application using Chef and run unit tests against it.</p><p>Vinothini\'s passion is to experiment with technologies and interact with people. She is a team player and loves to build agile teams. Her company offers products and services that accelerate cloud adoption.</p>'
        }
        , {
            'slot'      : '11:15 – 11:30'
          , 'title'     : 'Tea &amp; Networking'
        } 
        , {
            'slot'        : '11:30 – 12:15'
          , 'title'       : 'Cloud automation on AWS using vagrant &amp; puppet'
          , 'speaker'     : 'Madhurranjan Mohaan'
          , 'designation' : 'Devops Engineer at Apigee'
          , 'linkedin'    : 'http://in.linkedin.com/pub/madhurranjan-mohaan/a/740/927'
          , 'description' : '<p>Talk about how Apigee used vagrant as a tool to spawn environments automatically on Virtualbox/AWS from 1 machine to 80-90 machines.</p><p>The talk will involve everything about vagrant and puppet and how one can do something similar in their organisation.</p>'
        } 
        , {
            'slot'      : '12:15 – 12:30'
          , 'title'     : 'Networking &amp; discussions'
        }
      ]
    }   
    , {
        "title" : "Achieving scale with your infrastructure & webapps"
      , "when"  : "22 March 2014"
      , "timeline"  : "past"
      , "venue" : "Thoughtworks, Yerawada, Pune"
      , "sponsor_logo": "https://imgee.s3.amazonaws.com/imgee/7ae3bda5a08543fcaab23f56824af744_w300_h46.png"
      , "sponsor_link": "http://www.thoughtworks.com/"
      , "link"  : "/2014/runup-pune"
      , "hgtv"  : "https://hasgeek.tv/rootconf/2014-pune"
      , "blurb" : "Scaling &mdash; as much as it is a science, is also considered to be an art. The event brings to you case studies and tool demos that can help you look at a variety of experiences and information centred around scaling."
      , "schedule"  : [
          {
            'slot'      : '10:30 – 11:00'
          , 'title'     : 'Registrations &amp; checkin'
        }
        , {
            'slot'      : '11:00 – 11:15'
          , 'title'     : 'Introductions'
        }
        , {
            'slot'        : '11:15 – 12:00'
          , 'title'       : 'Vagrant VMs &amp; Provisioning: Key to efficient scaling of your team'
          , 'speaker'     : 'Mihir'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/7d50aac137a7419b895958395494fe86_w80_h61.png'
          , 'designation' : 'Application Developer &amp; Consultant @ ThoughtWorks'
          , 'github'      : 'mihirk'
          , 'description' : '<p>The talk will be based on Vagrant introduction, the problems solved by Vagrant, the advantages of using Vagrant for development, a demo of Vagrant machine setup and automating the vagrant box provisioning using provisioners like Ansible or Chef.</p><p>Mihir, who loves staying technically updated,  enjoys working towards setting up fast feedback systems for development &amp; likes working with loosely coupled systems.</p>'
        } 
        , {
            'slot'        : '12:00 – 12:45'
          , 'title'       : 'Achieving scale'
          , 'speaker'     : 'Vishal Parpia'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/f2a30f8b9f7741b2bc9074e113c8397d_w80_h53.jpeg'
          , 'designation' : 'Founder &amp; Director @ ActivElement/CloudCover'
          , 'twitter'     : 'viz'
          , 'description' : '<p>A brief talk on the problems Vishal\'s company encountered in building a transactional application in the cloud and how they solved them. The tools they considered, the solutions they deployed and the results they delivered.</p>'
        }
        , {
            'slot'      : '12:45 – 01:30'
          , 'title'     : 'Lunch &amp; Networking'
        }
        , {
            'slot'        : '01:30 – 02:15'
          , 'title'       : 'Scaling a Social networking site: AWS+Chef'
          , 'speaker'     : 'Arun Tomar'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/fbf80c1425dc4f2bbb656c0f0f4fb3b3_w80_h80.jpeg'
          , 'designation' : 'Founder, Solution Enterprises'
          , 'linkedin'    : 'http://www.linkedin.com/in/aruntomar'
          , 'twitter'     : 'aruntomar'
          , 'github'      : 'aruntomar'
          , 'description' : '<p>This is a story about how Arun &amp; his team scaled up a social networking site on Amazon AWS from 1 server to a multi server cluster in multizone environment with Chef.</p><p>It will cover the following about their journey of scaling up.<ul><li>Challenges faced</li><li>Technology used</li><li>Solutions implemented</li><li>Learnings</li></ul></p><p>Arun is a Linux expert &amp; evangelist with 12+ yrs of experience in Linux/Unix System Administration, Training, Databases and FOSS technologies.</p>'
        }
        , {
            'slot'        : '02:15 – 03:00'
          , 'title'       : 'Scaling MongoDB to 10,000 rps &amp; beyond.'
          , 'speaker'     : 'Abhishek Amberkar'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/5cc18df9515f4175b07645612407beeb_w80_h80.jpeg'
          , 'designation' : 'DevOps Engineer @helpshift'
          , 'twitter'     : 'greenmang0'
          , 'description' : '<p>Abhishek Amberkar will share war stories about scaling MongoDB in the cloud to 10,000 requests/sec. All the things that should be in the documentation but are not, such as maintaining uptime, distributing writes in replica sets and taking hot backups. He will talk about problems, limitations and workarounds required to scale MongoDB on AWS infrastructure.</p>'
        }
      ]
    }   
    , {
        "title" : "Tools & Methods for Cloud Automation"
      , "when"  : "5 April 2014"
      , "timeline"  : "past"
      , "venue" : "91springboard, Delhi"
      , "sponsor_logo": "https://imgee.s3.amazonaws.com/imgee/b968cba4b9f74471a2a1b04905224c69_w300_h129.png"
      , "sponsor_link": "http://91springboard.com/"
      , "link"  : "/2014/runup-delhi"
      , "blurb" : "Using automation to manage large-scale infrastructure is the key to making an organisation and product more efficient and cost-effective. At this event, our featured speakers explain how they achieved automation using tools like Puppet, Hiera, Mesos, Docker and AWS."
      , "schedule"  : [
        {
            'slot'      : '14:00 – 14:30'
          , 'title'     : 'Registrations &amp; checkin'
        }
        , {
            'slot'      : '14:30 – 14:45'
          , 'title'     : 'Introductions'
        }
        , {
            'slot'        : '14:45 – 15:30'
          , 'title'       : 'Roles and Profiles in Puppet: Yet Another Example'
          , 'speaker'     : 'Jasbir Khehra'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/28291252a78d4f68b6285ecb31e725c4_w80_h53.jpeg'
          , 'designation' : 'Head Infrastructure, NDTV Convergence'
          , 'twitter'      : 'jassik'
          , 'description' : '<p>Jasbir solved the problem of constant infrastructure change requests he received from developers, by abstracting them as configurations into YAML files that developers can modify themselves. The talk revolves around using Hiera and examples of roles and profiles in puppet.</p>'
        } 
        , {
            'slot'        : '15:30 – 16:15'
          , 'title'       : 'Mesos + Docker = &#9825;'
          , 'speaker'     : 'Abishek Bhat'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/996100a69c86491989de84be4a5df6cf_w80_h80.jpeg'
          , 'designation' : 'Machine Learning/Platform Engineer, Airwoot'
          , 'twitter'    : 'abishekk92'
          , 'github'      : 'abishekk92'
          , 'description' : '<p>The objective of the talk is to bounce off some ideas on what is possible with Mesos and Docker. Abishek will introduce the core ideas behind Mesos and Docker, and how they can be used together to build a completely elastic cluster. The structure of the talk can be found <a href="https://gist.github.com/abishekk92/9900877">here</a>.</p><p>Abishek works with Airwoot as a Machine Learning/Platform Engineer and is interested in Large Scale Data Processing Infrastructures and Mathematics!</p>'
        }
        , {
            'slot'      : '16:15 – 16:30'
          , 'title'     : 'Tea Break &amp; Networking'
        }
        , {
            'slot'        : '16:30 – 17:15'
          , 'title'       : 'Automate infrastructure deployment with Amazon Web Services'
          , 'speaker'     : 'Amit Sharma'
          , 'photo'       : 'https://imgee.s3.amazonaws.com/imgee/93d4ae222c95406393ff24832e7e61c5_w79_h80.png'
          , 'designation' : 'Solutions Architect, Amazon Seller Services Pvt. Ltd. '
          , 'linkedin'    : 'http://in.linkedin.com/pub/amit-sharma/8/4a7/586'
          , 'github'      : 'amitkshgit'
          , 'description' : '<p>As startups focus more and more towards innovating new stuff and creating value for their customer less they want to be bothered about infrastructure and related heavy lifting. This is where AWS helps startups to leverage Infrastructure automation and deployment services like Elastic Beanstalk, Cloudformation and OpsWorks. Learn the difference between these three powerful services and how it helps startups.</p><p>Amit likes helping AWS customers of all sizes ranging from startups to big enterprises to hop onto the Cloud phenomenon and realize the benefits. Interestingly, he has been spending his free time these days on Arduinos and RaspberryPis.</p>'
        }
      ]
    }  
    , {
        "title" : "Logging & Monitoring"
      , "when"  : "26 April 2014"
      , "timeline"  : "upcoming"
      , "venue" : "Chennai — Venue TBA"
      , "sponsor_logo": ""
      , "link"  : "/2014/runup-chennai"
      , "blurb" : ""
    }
  ]
%}