{%
  set types = [
    {
        'id'    : 'platinum'
      , 'title' : 'Platinum'
      , 'size'  : 'xl'
    }
    , {
        'id'    : 'gold'
      , 'title' : 'Gold'
      , 'size'  : 'l'
    }
    , {
        'id'    : 'silver'
      , 'title' : 'Silver'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'bronze'
      , 'title' : 'Bronze'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'dinner'
      , 'title' : 'Evening dinner Sponsor'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'speaker-travel'
      , 'title' : 'Speaker Travel Support'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'community'
      , 'title' : 'Community Sponsors'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'corporate'
      , 'title' : 'Corporate Tickets'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'partners'
      , 'title' : 'Community Partners'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'media-partners'
      , 'title' : 'Media Partners'
      , 'size'  : 'compact'
    }
  ]
%}
{# Logo Orientation can be either 'landscape' or 'portrait' #}
{%
  set items = [
    {
      'title'       : 'Yubico',
      'id'          : 'yubico',
      'logo'        : 'https://images.hasgeek.com/embed/file/a0fe74c46132434b8d397a0e79c63236',
      'link'        : 'https://www.yubico.com/',
      'display'     : 'www.yubico.com',
      'type'        : 'platinum',
      'blurb'       : '<p>Yubico sets new world standards for simple, secure login, preventing unauthorized access to computers, servers, and internet accounts.<p></p>Supporting multiple authentication and encryption protocols on all devices and platforms, <a href="https://www.yubico.com/products/yubikey-hardware/" target="_blank">YubiKeys</a> protect access to user accounts for the world’s largest enterprises with a simple touch, and with no driver or client software needed. Yubico is a leading contributor to the <a href="https://www.yubico.com/applications/fido/" target="_blank">FIDO Universal 2nd Factor</a> open authentication standard, and Yubico’s technology is used, and loved, in more than 150 countries. Founded in 2007, Yubico is privately held with offices in Palo Alto (California), Seattle (Washington), Stockholm (Sweden), and London (UK).</p>'
    }
  ]
%}
