{%
  set types = [
    {
        'id'    : 'platinum'
      , 'title' : 'Platinum'
      , 'size'  : 'xl'
    }
    , {
        'id'    : 'gold'
      , 'title' : 'Gold'
      , 'size'  : 'l'
    }
    , {
        'id'    : 'silver'
      , 'title' : 'Silver'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'bronze'
      , 'title' : 'Bronze'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'dinner'
      , 'title' : 'Evening dinner Sponsor'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'speaker-travel'
      , 'title' : 'Speaker Travel Support'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'community'
      , 'title' : 'Community Sponsors'
      , 'size'  : 'm'
    }
    , {
        'id'    : 'corporate'
      , 'title' : 'Corporate Tickets'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'partners'
      , 'title' : 'Community Partners'
      , 'size'  : 'compact'
    }
    , {
        'id'    : 'media-partners'
      , 'title' : 'Media Partners'
      , 'size'  : 'compact'
    }
  ]
%}
{# Logo Orientation can be either 'landscape' or 'portrait' #}
{%
  set items = [
  ]
%}
