{%
  set items = [
    {
        'type'        : 'Conference'
      , 'price'       : '3000'
      , 'end_date'    : '17th April 2014'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : 'Two days of conference, Breakfast &amp; Lunch'
    }
    ,{
        'type'        : 'Corporate'
      , 'price'       : '7000'
      , 'end_date'    : '13th April 2014'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : 'Four days of conference &amp; workshops, Ticket sponsorship credit, Custom invoice &amp; Event T-Shirt'
    }
    ,{
        'type'        : 'Workshops'
      , 'price'       : '4000'
      , 'end_date'    : '13th April 2014'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : 'Two days of workshops with Lunch'
    }
  ]
%}