{%
  set items = [
    {
        'type'        : 'Super Early Geek'
      , 'price'       : '2400'
      , 'end_date'    : ''
      , 'msg'         : 'Sales&nbsp;closed'
      , 'open'        : false
      , 'package'     : 'Two days of conference, Breakfast &amp; Lunch'
    }
    ,{
        'type'        : 'Early Geek'
      , 'price'       : '2700'
      , 'end_date'    : ''
      , 'msg'         : 'Sales&nbsp;closed'
      , 'open'        : false
      , 'package'     : 'Two days of conference, Breakfast &amp; Lunch'
    }
    ,{
        'type'        : 'Conference'
      , 'price'       : '3000'
      , 'end_date'    : '8th May 2014'
      , 'msg'         : 'Buy&nbsp;ticket'
      , 'open'        : true
      , 'package'     : 'Two days of conference, Breakfast &amp; Lunch'
    }
    ,{
        'type'        : 'Corporate'
      , 'price'       : '7000'
      , 'end_date'    : '15th May 2014'
      , 'msg'         : 'Buy&nbsp;ticket'
      , 'open'        : true
      , 'package'     : 'Two days of conference, Breakfast &amp; Lunch, Ticket sponsorship credit, <br>Custom invoice &amp; Event T-Shirt'
    }
  ]
%}