{%
  set schedule = {
      'id'    : 'schedule'
    , 'type'  : 'workshops'
    , 'date'  : '14 - 15 May'
    , 'list'  : [
     {
          'slot'      : '09:30 am'
        , 'title'    : 'Registrations'
      }
      , {
          'slot'      : '10:00 am'
        , 'track1'    : '1120-introduction-to-go-continuous-delivery-software'
        , 'track2'    : '1036-linux-containers-lxc-and-future-of-software-delive'
      }   
      , {
          'slot'      : '01:00 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr 15 mins'
      }
      , {
          'slot'      : '02:00 pm'
        , 'track1'    : '1079-selinux-for-the-uninitiated'
        , 'track2'    : '1121-ansible-with-puppet-at-scale'
      }   
    ]
  }
%}