{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule-day1.html") import schedule as schedule_day1 %}
{% from theme("data/conference-schedule-day2.html") import schedule as schedule_day2 %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
       ('event-themes',          'white')
      , ('featured-speakers',           'dark')
      , ('conference-schedule',         'white')
      , ('explara',                     'dark')
      , ('venue-summary',             'white')
      , ('sponsors-summary',           'dark')
    ]
  }
%}
{% block navtype %}
<div id="nav-home">
{% endblock %}

{% block banner %}
<header>
  <div class="jumbotron">
    <div align="center">
      <div class="logo jumbotron-header"><img src="https://imgee.s3.amazonaws.com/imgee/769dc463009d4cf09be7352c8c7b3628.png" width="80px" alt="###">rootconf</div>
      <div class="jumbotron-tagline">Conference on infrastructure automation and DevOps</div>
      <div class="jumbotron-date">15 - 16 May 2015  |  Bangalore</div>
      <br>
      <a role="button" id="jumbotron-tickets" class="btn btn-danger btn-lg btn-block" href="https://in.explara.com/e/rootconf-2015" target="_blank">Buy Tickets</a>
    </div>
  </div>
</header>
{% endblock %}
