<section class="blog push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid space-two-bottom">
      <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center extralarge all-caps">Blog</h2>
    </div>
    {% set exists = [] %}
    {% for post in feed() -%}
      {% if post.folder.name == node.properties['event'] %}
        {% if exists.append(1) %}{% endif %}
        <div class="row-fluid">
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="post space-two-bottom">       
              <div class="post-title legible semibold"><a href="{{ url_for('node', folder=post.folder.name, node=post.name) }}">{{ post.title }}</a></div>
              <p class="byline">by <strong>{{ post.author or post.user.fullname }}</strong> &middot; {{ post.published_at|longdate }}</p>
              <div class="secondary-prose ">{{ post.description }}</div>
            </div>
          </div> 
        </div>
      {% endif %}
    {%- endfor %}
    {% if not exists %}
      <div class="row-fluid container text-center">
        <p>(No blog entries have been written so far)</p>    
      </div>
    {% endif %}
  </div>  
</section>
