<section id="{{ schedule.id }}" class="schedule push-three-top push-four-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row text-center">
    {% if talks %}
      {% set sessions = talks %}
    {% elif workshops %}
      {% set sessions = workshops %}
    {% endif %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge semibold all-caps space-half-bottom">{{ schedule.type }} Schedule</div>
    <div class="all-caps legible dark-gray space-two-bottom">{% if schedule.date %}{{ schedule.date|safe }}{% endif %} <button class="tiny-prose button white button-mini" data-toggle="modal" data-target="#myModal"><i class="icon-calendar"></i>&nbsp;&nbsp;Subscribe</button></div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body dark">
          <h3><i class="icon-calendar"></i>&nbsp;&nbsp;Rootconf 2014: Workshops &amp; Conference</h3>
          <div class="tiny"><a href="webcal://funnel.hasgeek.com/rootconf2014/schedule/ical" class="button button-mini button-on-blue all-capitalize">Subscribe</a> <a href="https://www.google.com/calendar/render?cid=webcal%3A//funnel.hasgeek.com/rootconf2014/schedule/ical" target="_blank" class="button button-mini button-blue all-capitalize">Subscribe using Google Calender</a></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 table-bordered schedule-table table-responsive fill-white">
      <thead class="all-caps">
        <tr>
          <th width="40%" class="text-right">Day 1</th>
          <th class="text-center">Time</th>
          <th width="40%">Day 2</th>
        </tr>
      </thead>
      <tbody>
        {% for item in schedule.list %}
        <tr>

            {% if item.track1 %}
              {% with item = sessions[item.track1] %}
                <td class="text-right"><a href="#{{ item.id }}"><div class="secondary-prose green">{{ item.title|safe }}</div>
                <h5 class="all-caps">{{ item.speaker|safe }}</h5></a></td>

              {% endwith %}
            {% else %}
              <td class="text-right"><div class="tiny italic">{{ item.title|safe }}</div></td>
            {% endif %}
          <td class="schedule-slot text-center bold"><div class="secondary-prose all-caps">{{ item.slot }}</div></td>

            {% if item.track2 %}
              {% with item = sessions[item.track2] %}
                <td><a href="#{{ item.id }}"><div class="secondary-prose green">{{ item.title|safe }}</div>
                <h5 class="all-caps">{{ item.speaker|safe }}</h5></a></td>

              {% endwith %}
            {% else %}
              <td><div class="tiny italic">{{ item.title|safe }}</div></td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

