<section id="tickets" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="row-fluid container">
      <div class="col-lg-12">
      <table class="table table-responsive">
        <thead>
          <tr>
            <td class="regular-prose green">Tickets:</td>
          </tr>
        </thead>
        <tbody>
          {% for ticket in items -%}
            <tr class="{% if ticket.open==true %}fill-white{% endif %}">
              <td class="bold regular-prose">{{ ticket.type }}</td>
              <td>{{ ticket.package | safe }}</td>
              <td class="bold regular-prose">&#8377;{{ ticket.price }}</td>
              <td><{% if ticket.open==false %}span{% else %}a href="http://rootconf.doattend.com/"{% endif %} class="button{% if ticket.open==false %} button-inactive{% endif %}">{{ ticket.msg|safe }}</{% if ticket.open==false %}span{% else %}a{% endif %}></td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      </div>
    </div>
{#{% include theme('sections/special-offers.html') %}#}
</section>