@font-face { font-family: Inconsolata; src: url(/static/Inconsolata.otf); } 

body	{
	background: url(/static/img/bg.png) #111;
	color: #DDD;
}

p {
    font-size: 18px;
    line-height: 1.5em;
}
p.date	{
	text-transform: uppercase;
	color: #444;
}

header{
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	background: url(/static/img/bg.png) top;
	color: #222;
}

 footer .footer-inner	{
 	background: url(/static/img/nav-bg.png) repeat-x top;	
 }

.content	{
	background: url(/static/img/nav-bg.png) repeat-x top;	
	margin-top:139px;
	padding-top: 25px;
}


.header-logo	{
	font-size: 36pt;
	font-family: Inconsolata, Verdana, sans-serif;
	margin-top: 35px;
}

.logo1	{
	color: #816894;
}
.logo2	{
	color: #df5e0e;
}
.logo3	{
	color: #f0a40c;
}

.hg 	{
	padding-top: 15px;
}

a  {color: #ffd200;}
a:hover  {color: #fff2b4;}

nav a	{
	font-size: 18px;
	line-height: 5em;
	padding: 15px;
	text-shadow:-1px -1px 1px #333;
	color: #DDD;
}

nav a:hover	{
	text-decoration: none;
	color: #000;	
}

.header-social .twitter, .header-social .fb	{
	height: 20px;
	width: 20px;
	margin: 10px;
	margin-top: 35px;
	background: url(/static/img/twitter.png) no-repeat;
	float: left;
}
.header-social .fb	{
	background: url(/static/img/fb.png) no-repeat;
}
.header-social .twitter:hover, .header-social .fb:hover	{
	background-position: center bottom;
}

a:hover	{
	text-decoration: none;
}

h2	{
	color: #FFF;
	font-weight: 100;
	font-size: 30pt;
	font-family: Helvetica, Arial, sans-serif;
	padding-bottom: 10px;
}

.mast	{
	text-align: center;
}

.mast h1 {
	color: #000;
	font-family: consolas, sans-serif;
	font-size: 35pt;
	font-weight: 100;
}

h3	{
	color: #d0a41d;
}
.con	{
	width: 560px;
	background: url(/static/img/p5black.png) ;
	height: 400px;
	z-index: 7;
	color: #FFF;
	padding: 10px;
	margin: 0px;
}

.map {
	height: 400px;
	overflow: hidden;
	background: url(/static/img/map.jpg) no-repeat right;
}

.cursor { opacity: 0.6;
-moz-opacity: 0.6;
filter:alpha(opacity=6);};

.header-logo a	{
	color: #222;
}

.header-logo a:hover	{
	text-decoration: none;
}

@media (max-width: 1225px)