<section id="annoucements" class="push-three-top push-one-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="regular text-justify">
      {% with f = fragment('2017', 'announcement') %}
        {{ f.content }}
      {% endwith %}

      {% if node.properties.propose_talk %}
        <p class="space-one text-center"><a href="{{ node.properties.propose_talk }}" class="button">Propose a talk</a></p>
      {% endif %}
      
      <p class="text-center space-half"><a href="http://hasgeek.us2.list-manage.com/subscribe?u=c84c1486d2d6a025417c5d146&id=47afa263c6" target="_blank" class="orange click" data-label="Sign up" data-target="HasGeek sign up page">Sign up</a> to receive updates and information about tickets, speakers, schedule and more.</p><p class="text-center space-half-bottom">For more updates, follow us on <a href="https://www.facebook.com/rootconf" target="_blank" class="orange click" data-label="Facebook" data-target="Facebook">Facebook</a>, <a href="https://twitter.com/rootconf" target="_blank" class="orange" data-label="Twitter" data-target="Twitter">Twitter</a> and <a href="https://www.youtube.com/user/hasgeek" title="Watch the latest videos from HasGeek" target="_blank" class="orange click" data-label="YouTube" data-target="YouTube">YouTube</a>.</p>
    </div>
  </div>
</section>
