<style type="text/css">
    #community .row h2 {
      display: inline-block;
      /*text-align: center;*/

    }

    /*#community .row {
    display: table;
    }

    #community .row div {
        float: none;
        display: table-cell;
        vertical-align: top;
    }*/
    #community .row {
      color: white;
      /*box-shadow: inset 10px -10px 25px rgb(97, 73, 115), inset -10px 10px 25px rgb(97, 73, 115);*/
    }
    #community .row div {
      /*border-radius: 0 .25em .25em 0;*/
      border: 3px solid #826995;
    }
    #community .row div div {
      /*border-radius: 0 .25em .25em 0;*/
      border: 0;
    }
    
    #community .row div {
      background-color: #453750
    }
    /*#community .row div:nth-child(2) {
      background-color: #453750
    }
    #community .row div:nth-child(3) {
      background-color: #453750
    }*/
</style>
<section id="community" class="push-two-bottom clearfix">
  <div class="container">
    <div class="regular row table-row">
      <div class="col-md-8" style="padding-top: 1px; padding-bottom: 10px; 
      background-image: linear-gradient(to bottom, rgba(69, 55, 80, 0.9) 0%, rgba(69, 55, 80, 0.9) 100%), url(https://c1.staticflickr.com/2/1542/26444604372_cb1c9265b2_c.jpg);
      ">
        <h2 class="extralarge">The <img src="https://imgee.s3.amazonaws.com/imgee/769dc463009d4cf09be7352c8c7b3628.png" width="70px" alt="###" style="margin-right: 6px;">rootconf community</h2>
        <p>Conferences bring like-minded people under one umbrella. Insights bind participants and produce the sentiment of community. Our goal is to facilitate conversations and sharing of experiences that eventually lead to friendships which, in turn, foster community.</p>
        <p>Rootconf is an ongoing programme: </p>
        <p>Join the #Rootconf community on Slack. Participate in the online (Ask Me Anything) AMA sessions. Contribute articles to the Rootconf blog. Propose topics for meetups. Speak at Rootconf meetups round the year. If you work on payments, participate in the DevOps and Payments conference in Mumbai, on July 8. Join our mailing list.</p>
      </div>
      <div class="col-md-4">
        <h2>Free childcare</h2>
        <p>We also welcome children at Rootconf. If you are a primary caretaker who wants to attend the conference, and needs support with childcare, we have it all arranged. <a href="https://blog.rootconf.in/childcare-at-rootconf-2017-9bb9c1578755">Learn more</a>.</p>
        <!-- <a href="#" class="smooth-scroll">Learn more</a> -->
        <!-- <div class="row">
          <div class="col-sm-12">
            
          </div>
          <div class="col-sm-12">
            <h2>Join us online</h2>
            <p>
            <a href="https://friends.hasgeek.com" class="button button-mini">Join the #rootconf community on Slack</a> <a href="https://friends.hasgeek.com" class="button button-mini">Join our mailing list</a></p>
          </div>
          
        </div> -->
      </div>
    </div>
    <div class="row regular text-center" style="background-color: #826995; border: 3px solid #826995;">
        <h2>Join us online</h2>
        <p>We run a community Slack team where we have AMAs and discussions. You can also subscribe to our mailing list for updates.</p>
        <a href="https://friends.hasgeek.com" class="button button-mini">Join the #rootconf community on Slack</a> <a href="http://eepurl.com/cygsfr" class="button button-mini">Join our mailing list</a>
        <p></p>
    </div>
  </div>
</section>
