<section class="featured-speakers push-two clearfix fill-white">
  <div class="container">
  <div class="row-fluid">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 large all-caps text-center space-two-bottom">Featured speakers</h2>
  </div>
  
      
      <div class="row-fluid space-three-top">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 legible-prose">
          <ul class="space-half-top list-space-line list-plain list-silent row">
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1108-quick-prototyping-with-lxc-and-puppet"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/b16132577fbe4f94b6126a1654f732ba.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/d2a1eea8b723470da232165f407bf0c2.jpeg);"></div>
              </span></a>
              <h3>Benjamin Kero</h3>
              <h5 class="gray">Sr. Systems Administrator at Mozilla's Release Engineering team</h5>
              <h5 class="all-caps gray">Portland, OR</h5>
              
            </li>
      
    
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1131-microsoft-azure-infrastructure-services-foundation"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/3fd6a81dd67a44c191b89dad22064191.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/3fd6a81dd67a44c191b89dad22064191.jpeg);"></div>
              </span></a>
              <h3>M.S.Anand</h3>
              <h5 class="gray">Technical Architect at Microsoft Technology Center</h5>
              <h5 class="all-caps gray">Bangalore, India</h5>
              
            </li>
      
    
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1115-when-the-internet-bleeded"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/d75d7263111d4ec980268606c03cae27.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/d75d7263111d4ec980268606c03cae27.jpeg);"></div>
              </span></a>
              <h3>Anant Shrivastava</h3>
              <h5 class="gray">Server Administrator / Information Security Consultant</h5>
              <h5 class="all-caps gray">Bangalore, India</h5>
              
            </li>
      
    
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1123-scaling-databases-with-a-database-abstraction-laye"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/86951c3b2a8840b992ccd974c008a0d5.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/86951c3b2a8840b992ccd974c008a0d5.jpeg);"></div>
              </span></a>
              <h3>Gaurav Gupta</h3>
              <h5 class="gray">VP of Engineering <br>at ScaleArc</h5>
              <h5 class="all-caps gray">Mumbai, India</h5>
              
            </li>
      
    
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1063-citoengine-alert-management-and-automation-tool"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/d49b9efd19184c9e878e26d3fd49ad42.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/d49b9efd19184c9e878e26d3fd49ad42.jpeg);"></div>
              </span></a>
              <h3>Cyrus Dasadia</h3>
              <h5 class="gray">Sr. Tech Lead - Production Engineering (DevOps), Inmobi</h5>
              <h5 class="all-caps gray">Bangalore, India</h5>
              
            </li>
      
    
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1067-building-elastic-infrastructures"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/dd31670098fc48b8b7ce554777e8678c.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/dd31670098fc48b8b7ce554777e8678c.jpeg);"></div>
              </span></a>
              <h3>Pankaj Kaushal</h3>
              <h5 class="gray">Master of disaster at Flipkart.com</h5>
              <h5 class="all-caps gray">Bangalore, India</h5>
              
            </li>
      
    
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1109-avoiding-single-point-of-failure-in-a-multi-servic"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/ac550a773e1d434d896fa1cf275c123d.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/ac550a773e1d434d896fa1cf275c123d.jpeg);"></div>
              </span></a>
              <h3>Gurteshwar Singh</h3>
              <h5 class="gray">Product Engineer at Plivo Inc</h5>
              <h5 class="all-caps gray">Bangalore, India</h5>
              
            </li>
      
    
      
            <li class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center">
              <a href="/2014/conference#1112-mesos-cluster-management-framework-and-its-role-at"><span class="img-wrapper">
                <!-- <img class="photo" src="https://imgee.s3.amazonaws.com/imgee/3d02ae11328d4fe2b302ef52c2d6e911.jpeg"> -->
                <div class="featured-bg-photo circle" style="background: /* top, transparent #3FBA70 */ linear-gradient(rgba(63, 186, 112, 0.2),rgba(63, 186, 112, 0.2)),/* bottom, image */url(https://imgee.s3.amazonaws.com/imgee/3d02ae11328d4fe2b302ef52c2d6e911.jpeg);"></div>
              </span></a>
              <h3>Yagnik Khanna</h3>
              <h5 class="gray">Software developer at Shopify</h5>
              <h5 class="all-caps gray">Toronto, Canada</h5>
              
            </li>
      
    
</div>
</section>
