<section class="push-three clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    	<p class="legible bold">Confirmed proposals:</p>
      <ul>
        <li><a href="https://rootconf.talkfunnel.com/2015/46-saltstack-workshop" target="_blank">Introduction to SaltStack</a> - Mike Place</li>
        <li><a href="https://rootconf.talkfunnel.com/2015/41-a-quick-primer-on-http2" target="_blank">A quick primer on HTTP 2</a> - Cyrus Dasadia</li>
        <li><a href="https://rootconf.talkfunnel.com/2015/40-10-reasons-why-you-should-prefer-postgresql-to-mys" target="_blank">10 reasons why you should prefer PostgreSQL to MySQL.</a> - Anand Chitipothu</li>
        <li><a href="https://rootconf.talkfunnel.com/2015/40-10-reasons-why-you-should-prefer-postgresql-to-mys" target="_blank">10 reasons why you should prefer PostgreSQL to MySQL.</a> - Anand Chitipothu</li>
        <li><a href="https://rootconf.talkfunnel.com/2015/36-why-favour-icinga-over-nagios" target="_blank">Why favor Icingi over Nagios?</a> - Bernd Erk</li>
        <li><a href="https://rootconf.talkfunnel.com/2015/33-managing-distributed-file-system-with-consistent-d" target="_blank">Managing distributed file system with consistent distributed store & leader based algorithm</a> - Atin Mukherjee</li>
        <li><a href="https://rootconf.talkfunnel.com/2015/13-inframer-know-thy-infra" target="_blank">Inframer: Know thy infra</a> - Saurabh Hirani</li>
        <li><a href="https://rootconf.talkfunnel.com/2015/9-rewriting-for-scale-parse-com" target="_blank">Rewriting for scale @ Parse.com</a> - Abhishek Kona</li>
  </div>
</section>
  
