<section id="annoucements" class="push-three-top push-one-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="regular text-justify">
    	<p>Rootconf is India’s principal conference where systems and operations engineers share real world knowledge about building resilient and scalable systems. The theme for this edition was learning from failure.</p>
      <p>The 2016 edition is over and Rootconf will be back next year on 11 and 12 May, at the MLR Convention Centre, Bangalore</p>
      <p>For more updates, follow us on <a href="https://www.facebook.com/rootconf" target="_blank">Facebook</a>, <a href="https://twitter.com/rootconf" target="_blank">Twitter</a> and <a href="https://www.youtube.com/user/hasgeek" title="Watch the latest videos from HasGeek" target="_blank">YouTube</a>.</p>
      <p><a href="http://hasgeek.us2.list-manage.com/subscribe?u=c84c1486d2d6a025417c5d146&id=47afa263c6" target="_blank" class="block-link">Sign up</a> to receive updates and information about tickets, speakers, schedule and more.</p>
    </div>
  </div>
</section>
