<section class="push-three clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container" align="center">
      <p class="legible bold push-1q-top">What is Rootconf?</p>
    	<p>Rootconf is India's principal conference where systems and operations engineers share real world knowledge about building resilient and scalable systems. This year’s theme is infrastructure automation. The conference will feature talks on predictive orchestration, cloud and data center automation, and elements critical to web scalability and high availability. There will also be chatter about monitoring patterns.</p>
      <p class="legible bold push-1q-top">Why you should attend Rootconf?</p>
      <p>If you are a systems engineer, member of the operations team, CTO – losing sleep over how to automate and scale IT infrastructure – Rootconf is the event for you. Rootconf 2015 brings together some of the best minds in the industry. There will be ample opportunities to learn via talks and BOF sessions, and network at the CTO meet and conference dinner.</p>
    	<p class="legible bold">What will you learn?</p>
      <p>The 2015 edition of RootConf will feature talks on a host of topics ranging from ‘Introduction to SaltStack’ to a ‘Quick Primer on HTTP2’ and ‘Why favour Icinga over Nagios’ to ‘Why Prefer PostgreSQL to MySQL’, to name a few. So, if you’re looking to scale the effectiveness of your developer team, enhance performance of your web stacks or even develop a continuous integration and deployment strategy, RootConf 2015 will serve as the perfect learning ground for you.</p>
  </div>
</section>
  
