<section id="funnel-proposals" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <h2 class="col-lg-12 large all-caps">Propose a Talk</h2>
    <div class="col-lg-12 large gray push-one-bottom push-line-top">
      <span class="bg-circle"><i class="fa fa-user"></i></span><i class="fa fa-long-arrow-right"></i><span class="bg-circle"><i class="fa fa-filter"></i></span><i class="fa fa-long-arrow-right"></i><span class="bg-circle"><i class="fa fa-thumbs-up"></i></span><i class="fa fa-long-arrow-right"></i><span class="bg-circle"><i class="fa fa-group"></i></span><i class="fa fa-long-arrow-right"></i><span class="bg-circle"><i class="fa fa-microphone"></i></span>
    </div>
    
    <div class="col-lg-12 legible-prose space-one-top">
      <p>
        Anyone is welcome to propose a session on <a class="link-silent" target="_blank" href="https://funnel.hasgeek.com/rootconf2014/">HasGeek Funnel</a>. <br>Participants who have purchased conference tickets will vote on session proposals. The <a class="link-silent" href="/2014/#editorial-panel">Editorial Panel</a> steering Rootconf will also vote on submissions and balance the community voting.
      </p>
      
      <p class="title-type secondary space-one-top space-one-bottom">
        <a class="button" href="https://funnel.hasgeek.com/rootconf2014/">Propose a Talk</a>
      </p>
    </div>
  </div>
  
</section>
