<style type="text/css">
    #social .row h2 {
      display: inline-block;
      /*text-align: center;*/

    }

    /*#social .row {
    display: table;
    }

    #social .row div {
        float: none;
        display: table-cell;
        vertical-align: top;
    }*/
    #social .row {
      color: white;
      /*box-shadow: inset 10px -10px 25px rgb(97, 73, 115), inset -10px 10px 25px rgb(97, 73, 115);*/
    }
    #social .row div {
      /*border-radius: 0 .25em .25em 0;*/
      border: 3px solid #826995;
    }
    #social .row div div {
      /*border-radius: 0 .25em .25em 0;*/
      border: 0;
    }
    
    #social .row div {
      background-color: #453750
    }
    /*#social .row div:nth-child(2) {
      background-color: #453750
    }
    #social .row div:nth-child(3) {
      background-color: #453750
    }*/
</style>
<section id="social" class="push-three-top push-two-bottom clearfix">
  <div class="container">
    <div class="regular row table-row">
      <div class="col-md-7">
        <h2>The <img src="https://imgee.s3.amazonaws.com/imgee/769dc463009d4cf09be7352c8c7b3628.png" width="50px" alt="###" style="margin-right: 6px; margin-bottom: 4px;">rootconf party </h2>
        <small>(sponsored by GO-JEK)</small>
        <p>Rootconf attendees are invited to an all-inclusive conference party at Brewsky, JP Nagar at the end of Day 1 (11 May). </p>
        <p>We’d like to thank our sponsor GO-JEK for making this party possible.</p>
      </div>
      <div class="col-md-5">
        <h2>Brewsky, JP Nagar</h2>
        <p>6:30PM - 11:00PM, 11 May (Day 1)</p>
        <p>Shuttles to the party will be available from the conference venue from 6PM</p>
      </div>
    </div>
    <div class="regular row table-row">
      <div class="col-md-7">
        <h2><img src="https://imgee.s3.amazonaws.com/imgee/769dc463009d4cf09be7352c8c7b3628.png" width="50px" alt="###" style="margin-right: 6px; margin-bottom: 4px;">rootconf networking dinner</h2>
        <p>Those who have purchased the Superuser conference ticket have access to an exclusive conference dinner with speakers, editors, the HasGeek team, and invited guests on 10 May.</p>
      </div>
      <div class="col-md-5">
        <h2>The Woodrose Club, JP Nagar</h2>
        <p>6:30PM - 11:00PM, 10 May</p>
        <p>Available only to Superuser ticket holders and invited guests</p>
      </div>
    </div>
  </div>
  </div>
</section>
