<section id="highlights" class="push-two nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container"> 
  <h2 class="text-center push-1q-bottom large all-caps">Previous edition</h2> 
  <p class="secondary push-one"><a href="https://rootconf.in/2012/">The first edition of Rootconf</a> was held on May 2012, at Dharamaram Vidya Kshethram, Bangalore. The <a href="https://rootconf.in/2015/">2015 edition</a> featured talks on predictive orchestration, cloud and data center automation, and elements critical to web scalability and high availability.</p>
    <div class="clearboth">
      <ul class="space-two-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li class="push-one-bottom text-center">
          <article class="video-thumbnail secondary">
            <p>
              <a href="https://hasgeek.tv/rootconf/2015/1092-abhishek-kona-rewriting-parse-com-for-scale">
                <img alt="" src="https://images.hasgeek.com/embed/file/e6c2456b15b94839ae856a1a0a048344">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2015/1092-abhishek-kona-rewriting-parse-com-for-scale">
                Rewriting Parse.com for scale
              </a>
            </h4>
            <h5>
              Abhishek Kona
            </h5>
          </article>
        </li>
        <li class="push-one-bottom text-center">
          <article class="video-thumbnail secondary">
            <p>
              <a href="https://hasgeek.tv/rootconf/2015/1095-bernd-erk-why-favour-icinga-over-nagios">
                <img alt="" src="https://images.hasgeek.com/embed/file/75714292143a4a40901bd8a96a21df0a">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/364-mohit-chawla-make-your-servers-sing-using-mcollective">
                Why favour Icinga over Nagios
              </a>
            </h4>
            <h5>
              Bernd Erk
            </h5>
          </article>
        </li>
        <li class="push-one-bottom text-center">
          <article class="video-thumbnail secondary">
            <p>
              <a href="https://hasgeek.tv/rootconf/2015/1093-mike-place-introduction-to-saltstack">
                <img alt="" src="https://images.hasgeek.com/embed/file/69732b5a3fd4451ab5e9a8cc20c975ba">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/358-securing-a-linux-web-server-in-10-steps-or-less">
                Introduction to SaltStack
              </a>
            </h4>
            <h5>
              Mike Place
            </h5>
          </article>
        </li>
      </ul>
    </div>
    <!-- <div class="push-one-top push-three-bottom">
      <div class="container text-center">
        <a target="_blank" href="https://hasgeek.tv/rootconf/2012" class="button regular-prose">More videos on HasGeek TV</a>
        <p class="space-one-top regular-prose"><span class="fill-white"><a class="border-one pad-1q" target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157631848803975/">Photos:&nbsp;&nbsp;2012</a></span></p>
      </div>
    </div> -->
  </div>
</section>
