<section id="highlights" class="push-one nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container"> 
  <h2 class="text-center push-1q-bottom all-caps">Previous edition</h2> 
  <p class="text-center tiny">The first edition of Rootconf was held on May 2012, at Dharamaram Vidya Kshethram, Bangalore. The single day three track conference featured Configuration Deployment/Management, Performance Tuning, Security, Virtualization, Cloud &amp; Monitoring.</p>
    <div class="clearboth">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li class="push-one-bottom">
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/358-securing-a-linux-web-server-in-10-steps-or-less">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/91ea2b8096cb4c4985b8aad823dff81a.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/358-securing-a-linux-web-server-in-10-steps-or-less">
                Securing a Linux Web Server in 10 Steps or Less
              </a>
            </h4>
            <h5>
              Akash Mahajan
            </h5>
          </article>
        </li>
        <li class="push-one-bottom">
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/364-mohit-chawla-make-your-servers-sing-using-mcollective">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/f5dce88f19a74d01b16b18d5fb9dfcb7.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/364-mohit-chawla-make-your-servers-sing-using-mcollective">
                Make your servers sing using MCollective
              </a>
            </h4>
            <h5>
              Mohit Chawla
            </h5>
          </article>
        </li>
        <li class="push-one-bottom">
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/359-continuous-integration-made-fun-with-jenkins-hubot-gtalk">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/0408a30c3aa84b6f9cba189925670242.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/359-continuous-integration-made-fun-with-jenkins-hubot-gtalk">
                Continuous Integration made fun with Jenkins &amp; Hubot (+ Gtalk)
              </a>
            </h4>
            <h5>
              Sameer Segal
            </h5>
          </article>
        </li>
        <li class="push-one-bottom">
          <article class="video-thumbnail prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/366-biju-chacko-varanid-distributed-resilient-and-scalable-alerting">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/de8e58d6c628418785a255b8e5e1d053.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/366-biju-chacko-varanid-distributed-resilient-and-scalable-alerting">
                Varanid: distributed, resilient and scalable alerting
              </a>
            </h4>
            <h5>
              Biju Chacko
            </h5>
          </article>
        </li>
      </ul>
    </div>
    <!-- <div class="push-one-top push-three-bottom">
      <div class="container text-center">
        <a target="_blank" href="https://hasgeek.tv/rootconf/2012" class="button regular-prose">More videos on HasGeek TV</a>
        <p class="space-one-top regular-prose"><span class="fill-white"><a class="border-one pad-1q" target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157631848803975/">Photos:&nbsp;&nbsp;2012</a></span></p>
      </div>
    </div> -->
  </div>
</section>
