<section id="highlights" class="push-two nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 push-one-bottom">
      <h2 class="extralarge all-caps">Previous<br />Edition</h2>
      <ul class="inline-on-mobile list-plain secondary prose">
        <li><a href="//rootconf.in/bangalore2012">Bangalore&nbsp;2012</a></li>
      </ul>
    </div>
    
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 legible-prose prose prose-type space-one-top">
      <p>
        The first edition of Rootconf has held on May 2012, at Dharamaram Vidya Kshethram, Bangalore. The single day three track conference featured Configuration Deployment/Management, Performance Tuning, Security, Virtualization, Cloud &amp; Monitoring.
      </p>
    </div>
  </div>
  
  <div class="row-fluid space-two-top fill-wall-pattern"> 
  <div class="box-border"></div>   
    <div class="clearboth push-three-top push-two-bottom">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li class="push-one-bottom">
          <article class="video-thumbnail fill-white prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/358-securing-a-linux-web-server-in-10-steps-or-less">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/bcbc82c2ee2549428235833b92e4594a.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/358-securing-a-linux-web-server-in-10-steps-or-less">
                Securing a Linux Web Server in 10 Steps or Less
              </a>
            </h4>
            <h5>
              Akash Mahajan
            </h5>
          </article>
        </li>
        <li class="push-one-bottom">
          <article class="video-thumbnail fill-white prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/364-mohit-chawla-make-your-servers-sing-using-mcollective">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/8164dd1e6a6943dcb5f4a309d6be5cc6.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/364-mohit-chawla-make-your-servers-sing-using-mcollective">
                Make your servers sing using MCollective
              </a>
            </h4>
            <h5>
              Mohit Chawla
            </h5>
          </article>
        </li>
        <li class="push-one-bottom">
          <article class="video-thumbnail fill-white prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/359-continuous-integration-made-fun-with-jenkins-hubot-gtalk">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/1a227fdb48634ca0acf7398a0cf9b7f7.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/359-continuous-integration-made-fun-with-jenkins-hubot-gtalk">
                Continuous Integration made fun with Jenkins &amp; Hubot (+ Gtalk)
              </a>
            </h4>
            <h5>
              Sameer Segal
            </h5>
          </article>
        </li>
        <li class="push-one-bottom">
          <article class="video-thumbnail fill-white prose-type">
            <p>
              <a href="https://hasgeek.tv/rootconf/2012/366-biju-chacko-varanid-distributed-resilient-and-scalable-alerting">
                <img alt="" src="https://imgee.s3.amazonaws.com/imgee/c82a0d576be94362b5371dc5d38a7c25.jpeg">
              </a>
            </p>
            <h4>
              <a href="https://hasgeek.tv/rootconf/2012/366-biju-chacko-varanid-distributed-resilient-and-scalable-alerting">
                Varanid: distributed, resilient and scalable alerting
              </a>
            </h4>
            <h5>
              Biju Chacko
            </h5>
          </article>
        </li>
      </ul>
    </div>
    <div class="push-one-top push-three-bottom">
      <div class="container text-center">
        <a target="_blank" href="https://hasgeek.tv/rootconf/2012" class="button regular-prose">More videos on HasGeek TV</a>
        <p class="space-one-top regular-prose"><span class="fill-white"><a class="border-one pad-1q" target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157631848803975/">Photos:&nbsp;&nbsp;2012</a></span></p>
      </div>
    </div>
  </div>
</section>
