{% set events = getnode(path='runup-events-list').data['runup-list'] %}

<section id="runup-events" class="push-three-top push-two-bottom clearfix">
  <div class="row-fluid text-center space-three-bottom">
    <h2 class="calm centered space-one large text-center">{{ getnode(path='runup-events-list').title }}</h2>
    
    <ul id="htimeline">
      {% for event in events %}
        <li class="work">
          <input class="radio {% if event.featured %}theme-red{% else %}theme-green{% endif %}" id="work4" name="works" type="radio">
          <div class="relative">
            <span class="date tiny">{{ event.date }}</span>
            <span class="circle"></span>
          </div>
          <a class="link-silent" href="{{ event.url }}">
            <div class="content secondary">
              <p>{{ event.title }}</p>
              <p class="tiny"><i class="fa fa-map-marker"></i> {{ event.city }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>