{% include theme("layouts/schedule-table.html") %}
<section id="schedule" class="push-three-top push-two-bottom clearfix">
  <div class="container schedule-container">
    <div class="text-center" id="conference-schedule">
      <h2 class="calm centered space-one large text-center">Conference Schedule</h2>
      <div class="schedule-table-container text-center" id="conferenceschedule">
        {% if node.properties.funnel_url %}
          <p class="text-center loadingtxt"><a class="button dark regular" href="{{node.properties.funnel_url}}/schedule" target="_blank">View Schedule</a></p>
        {% endif %}
      </div>
    </div>
  </div>  
</section>