<section class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid text-center space-three-bottom">
    <h2><a href="/2014/runup-events" class="link-silent">Rootconf Event Series</a></h2>
    <p>Run-up events, Workshops &amp; Conference</p>
    
    <ul id='htimeline'>
      <li class='work'>
        <input class='radio theme-red' id='work4' name='works' type='radio'>
        <div class="relative">
          <span class='date'>15 March 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="/2014/runup-bangalore">
          <div class='content'>
            <p>
              Run-up: Bangalore 
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-red' id='work3' name='works' type='radio'>
        <div class="relative">
          <span class='date'>22 March 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="/2014/runup-pune">
          <div class='content'>
            <p>
              Run-up: Pune
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-red' id='work2' name='works' type='radio'>
        <div class="relative">
          <span class='date'>5 April 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="/2014/runup-delhi">
          <div class='content'>
            <p>
              Run-up: Delhi 
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-red' id='work2' name='works' type='radio'>
        <div class="relative">
          <span class='date'>3 May 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="/2014/runup-chennai">
          <div class='content'>
            <p>
              Run-up: Chennai
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-green' id='work2' name='works' type='radio'>
        <div class="relative">
          <span class='date'>14-15 May 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent">
          <div class='content'>
            <p>
              Workshops
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-green' id='work1' name='works' type='radio'>
        <div class="relative">
          <span class='date'>16-17 May 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent">
          <div class='content'>
            <p>
              Conference
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>