<section class="timeline page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid text-center space-three-bottom">
    <h2>Rootconf Event Series</h2>
    <p>Runup events, Workshops &amp; Conference</p>
    
    <ul id='htimeline'>
      <li class='work'>
        <input class='radio theme-red' id='work4' name='works' type='radio'>
        <div class="relative">
          <span class='date'>15 March 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="">
          <div class='content'>
            <p>
              Runup: Bangalore 
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-green' id='work3' name='works' type='radio'>
        <div class="relative">
          <span class='date'>22 March 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="">
          <div class='content'>
            <p>
              Runup: Pune
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-green' id='work2' name='works' type='radio'>
        <div class="relative">
          <span class='date'>5 April 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="">
          <div class='content'>
            <p>
              Runup: Delhi 
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-green' id='work2' name='works' type='radio'>
        <div class="relative">
          <span class='date'>12 April 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="">
          <div class='content'>
            <p>
              Runup: Chennai
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-green' id='work2' name='works' type='radio'>
        <div class="relative">
          <span class='date'>14-15 May 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="">
          <div class='content'>
            <p>
              Workshops
            </p>
          </div>
        </a>
      </li>
      <li class='work'>
        <input class='radio theme-green' id='work1' name='works' type='radio'>
        <div class="relative">
          <span class='date'>16-17 May 2014</span>
          <span class='circle'></span>
        </div>
        <a class="link-silent" href="">
          <div class='content'>
            <p>
              Conference
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>