<section class="tshirt push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space-two-bottom">
  		<div class="row">
  			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-sm-6 col-xs-12 contain-width text-center">
          <h2 class="space-one-bottom">Grab your Rootconf t-shirt!</h2>
  				<img src="https://imgee.s3.amazonaws.com/imgee/1a84dfd95c0b470fbdfab96bad8135ef.jpeg" alt="Rootconf Tee">
          <p class="tiny space-two-top"><a target="_blank" href="http://www.storythread.in/shop/tees-for/hasgeek/rootconf-2014-black.html" class="button">Buy Tshirt</a></p>
          <h3 class="tiny space-one-bottom">Also available for purchase at the conference venue.</h3>
  			</div>
  		</div>	
  	</div>  
  </div>
</section>