{% extends 'base.html' %}
{% block title %}Rootconf Bangalore 2012{% endblock %}

 {% block pageheaders %}{% endblock %}
{% block headerbox %}

<header>
  {% include "baseframe/networkbar.html" -%}
  <div class="container header navbar" id="navbar">
    <div class="row">
      <div class="span4 header-logo" onclick='scroll("home")'><span class="title">rootconf<span class="cursor">&#9611;</span></span></div>
      <div class="span5">
        <nav>
          <a href="#home" onclick="scroll('home')">home</a>
          <a href="#participate" onclick="scroll('participate')">participate</a>
          <a href="#sponsors" onclick="scroll('sponsors')">sponsors</a>
          <a href="#schedule" onclick="scroll('schedule')">talks</a>
          <a href="#venue" onclick="scroll('venue')">venue</a>
        </nav>
      </div>
      <div class="span2 header-social">
        <a href="http://twitter.com/#!/rootconf" class="twitter"></a><a href="http://www.facebook.com/HasGeek" target="_blank" class="fb"></a>
      </div>
      <div class="span1 hg"><a href="#hasgeek" onclick="scroll('hasgeek')"><img src="/static/img/hg-logo.png" /></a></div>
    </div>
    <div class="row mobile-header">
      <div class="span12 hg-mobile" align="center">
        <a href="#hasgeek" onclick="scroll('hasgeek')"><img src="/static/img/hg-logo_2.png" /></a>
      </div>
      <div class="span12 header-social-mobile">
        <a href="http://twitter.com/#!/rootconf" class="twitter"></a><a href="http://www.facebook.com/HasGeek" target="_blank" class="fb"></a>
      </div>
      

    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<section>
  <div class="container" >
       <!--<div class="row" id="home">
        <div class="span12">
          <div class="monitor">
            <div class="mon1 borrad12"></div>
            <div class="mon2 borrad12"></div>
            <div class="mon3 borrad12"></div>
            <div class="mon4 borrad12"></div>
            <div class="mon5"></div>
          </div>
         
          <div class="mast">
            <p>Let there be sysadmins</p>
            <p class="date">May 26th, 2012 | Dharamaram College, Bangalore</p>
          </div>
        </div>
      </div>-->
      <div class="row content" id="home" >
        <div class="span12" align="center"><img src="/static/img/masthead.png"  class="visible-phone" /></div>
      </div>
      <div class="row" >
        <div class="span12" align="center"><h1>WHEN : MAY 26, 2012<br />VENUE : DHARMARAM VIDYA KSHETRAM, BANGALORE</h1></div>
      </div>
      <div class="row content" style="margin-top: 10px">
        <div class="span12">
          <h2>About rootconf</h2>
          <p>After last year's <a href="http://phpcloud.hasgeek.com/">Scaling with PHP in the cloud</a>, HasGeek is organizing Rootconf, an annual conference for sysadmins, devops, and BOFHs to share experience and knowledge, to teach, learn, and hangout with friends and colleagues. Rootconf will be held on <strong>May 26th, 2012, at Dharamaram College, Bangalore</strong>.</p>
          <p>If you're a Sysadmin, come over, share your experience, and crack a joke about Perl.</p>
          <h3>Configuration Deployment/Management</h3>
          <p>Have a lot of servers? How do you manage your herd? Share and learn the tricks of configuration management with your fellow server cowboys/girls. Talk about your organization!</p>
          <h3>Performance Tuning ("But does it scale?") </h3>
          <p>Dealing with a high-traffic operations and your server is not performing as well as expected? Do you know how to squeeze the last inch of performance out of your server? This track will focus on showing you how!</p>
          <h3>Security</h3>
          <p>Securing access to your server can be a daunting task. Come and talk about how you do it.</p>
          <h3>Virtualization and Cloud</h3>
          <p>Do you run your own cloud? Do you use virtualization? We'd love to hear about it!</p>
          <h3>Monitoring</h3>
          <p>How do you get to know of fires? How do you use the various packages around? Share your monitoring methods and learn new ones from others.</p>
        </div>
      </div>
      <div class="row content full" id="participate">
        <div class="span4">
          <h2>Participate</h2>
          <p>Get the tickets now!</p>
          <p>Look at the <a href="http://funnel.hasgeek.com/rootconf">existing proposals.</a></p>
          <p><a class="btn-warning btn-large" target=_blank href="http://rootconf.doattend.com/">Book now</a></p>
        </div><!--/span-->
         <div class="span4">
          <h2>Speak</h2>
          <p>Do you have what it takes to speak to fellow sysadmins?</p>
          <p><a class="btn-warning btn-large" target=_blank href="http://funnel.hasgeek.com/rootconf">Propose a Session</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Sponsor</h2>
          <p>Would you or your employer like to sponsor Rootconf? </p>
          <p><a class="btn-warning btn-large" target=_blank href="/static/SponsorKit_rootconf.pdf" target="_blank">Get in Touch</a></p>
        </div><!--/span-->
      </div><!--/row-->
      
      <div class="row content" id="sponsors">
        <div class="span12"><h2>Sponsors</h2></div>
        </div><!--/row-->
        <div class="row">
            <article class="open hsponsor span2">
            <p class="logo"><a data-toggle="modal" href="#sponsor-e2enetworks"><img alt="E2E Networks" src="{{ url_for('static', filename='img/sponsors/e2e.png') }}"></a></p>
            </article>
            <article class="open hsponsor span2">
            <p class="logo"><img alt="Become a Sponsor" src="{{ url_for('static', filename='img/you.gif') }}"></p>
            </article>

      <div class="modal fade" id="sponsor-e2enetworks">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>E2E Networks</h3>
        </div>
        <div class="modal-body">
          <p><em>Low latency cloud hosting in India</em></p>
          <p><a class="sponsor-exit" href="http://e2enetworks.com">E2E Networks Private Limited</a> is India’s first homegrown cloud computing hosting venture. An exciting blend of cutting-edge technology, world class talent, highly skilled managed services and a commitment to bringing low latency hosting at a reasonable price. E2E is one of India’s fastest growing hosting companies, with a number of industry-leading customers in its portfolio. E2E works for both small custom testbeds for web applications still in development or multi-location, multi-terabyte, multi-gigabit deployments for some of the busiest Indian web verticals.</p>
          <p>E2E hosts HasGeek’s websites, including this website. 
        </div>
        <div class="modal-footer">
          <a href="http://www.e2enetworks.com/" class="btn btn-primary sponsor-exit">Visit E2E</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      </div><!--/row-->

    <div class="row content" id="schedule">
      <div class="span12"><h2 id="talks">Selected Talks</h2></div>
    </div>
    <div class="row">
    <div class="span4">
        <article class="session-video clearfix">
            <a href="http://www.youtube.com/watch?v=JBqVtdzvpos">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/JBqVtdzvpos/mqdefault.jpg"></p>
            <h4>Continuous Integration made fun with Jenkins & Hubot</h4>
            </a>
            <h5>Sameer Segal</h5>
        </article>
    </div>
    <div class="span4">
        <article class="session-video clearfix">
            <a href="http://www.youtube.com/watch?v=kZ-kVqdpiZM">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/kZ-kVqdpiZM/mqdefault.jpg"></p>
            <h4>Securing a Linux Web Server in 10 Steps or Less</h4>
            </a>
            <h5>Akash Mahajan</h5>
        </article>
    </div>
    </div>
    <div class="row schedule">
      <div class="span12">
        <table>
          <tr>
            <th>Talk</th>
            <th>Speaker</th>
            <th>Track</th>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/294-puppet-in-stand-alone-mode-or-why-config-management-is-useful-for-0-systems">Puppet in Stand Alone Mode or Why Config management is useful for 0+ systems</a></td>
            <td>Sarguru Nathan</td>
            <td>Configuration Management</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/288-continuous-integration-made-fun-with-jenkins-hubot-gtalk">Continuous Integration made fun with Jenkins & Hubot (+ Gtalk)</a></td>
            <td>Sameer Segal</td>
            <td>Configuration Management</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/314-build-your-own-storage-device-san">Build your own Storage Device (SAN) !</a></td>
            <td>Sriram Narayanan</td>
            <td>Cloud and Virtualization</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/313-performance-tuning-101-an-introduction-to-performance-tuning-an-application-in-managed-environment">Performance Tuning 101 - An introduction to performance tuning an application in managed environment</a></td>
            <td>Janmejay Singh</td>
            <td>Performance Tuning</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/304-high-performant-virtualization-using-openvz">High performant virtualization using OpenVZ</a></td>
            <td>Nilesh B</td>
            <td>Cloud and Virtualization</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/301-automated-and-adaptive-infrastructure-monitoring-using-chef-nagios-and-graphite">Automated and Adaptive Infrastructure Monitoring using Chef, Nagios and Graphite</a></td>
            <td>Pratima Singh</td>
            <td>Configuration Management</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/296-virtualization-with-kvm-and-libvirt">Virtualization with KVM (and Libvirt)</a></td>
            <td>Kashyap Chamarthy</td>
            <td>Cloud and Virtualization</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/333-creating-provisioning-cloud-resources-with-aws-cloudformation">Creating & Provisioning Cloud Resources with AWS CloudFormation</a></td>
            <td>Janakiram MSV</td>
            <td>Cloud and Virtualization</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/329-securing-a-linux-web-server-in-10-steps-or-less">Securing a Linux Web Server in 10 Steps or Less</a></td>
            <td>Akash Mahajan</td>
            <td>Security</td>
          </tr>
          <tr>
            <td><a href="http://funnel.hasgeek.com/rootconf/324-openshift-deployments-for-the-rest-of-us">Openshift: Deployments for the rest of us</a></td>
            <td>Anurag</td>
            <td>Cloud and Virtualization</td>
          </tr>
        </table>
      </div>
    </div>


      <div class="row content" id="venue"><div class="span12"><h2 id="location">Venue</h2></div></div>
       <div class="row">
        <div class="span6">
          <div id="map" class="map"></div>
        </div>
        <div class="span6">
        <h3 style="text-transform: uppercase; font-size: 25pt">Dharmaram Vidya Kshetram</h3>
            <p><strong>Christ University Campus</strong>, Bangalore</p><hr />
            <p>Rootconf is set in Dharmaram College's beautiful, tree-filled campus (nothing like the back-to-college feeling).</p>
            <p>To get there, enter Christ University’s main entrance gate on Marigowda Road and drive straight down to Dharmaram Vidya Kshetram, within the campus.
            Christ University is at Dairy Circle, half a kilometre from the Forum mall. Rootconf is in DVK's Theology block, behind the main auditorium.
            If you are approaching from Dairy Circle, drive up to Hosur Road for a U-turn. The campus has sufficient parking space.</p>
            <p><a href="http://goo.gl/maps/jYyv">View location in Google Maps</a></p>
          <h3><span>WHEN</span> : May 26, 2012</h3>
        </div>
      </div>
      <div class="row content" id="hasgeek">
        <div class="span12">
          <h2 id="abouthg">About HasGeek</h2>
          <p><a href="http://hasgeek.com">HasGeek</a> is a developer-led initiative, and has been un-organising the unconference scene since 2010. HasGeek is an attempt to solve the problem of insipid conferences organised around buzzwords by uninterested, soulless corporate entities who pitch them as company training events or as places for companies to pick up hot developers.</p>

          <p>We are attempting to build a new space, a space that is genuinely respectful of the communities and topics that we choose to engage with. We want to be a space for developers who are as excited as us about technology and the possibilities that it creates, not to be a recruitment fair (though we hope you do find partnership possibilities at our events).</p>
        
          <p>We are community-driven – check out our speaker-selection funnel, where you decide what talks to listen to by voting up or down – and small – there are just a handful of us running the show. We are doing this because this is what we love: bringing a whole bunch of us geeks together, sharing our interests and expertise and hanging out later over beverage of choice.</p>
        </div><!--/span-->
      </div><!--/row-->
    </div>
</section>    
{% endblock %}
{% block footerscripts %} 
<script>

$(function() {
  var map = new L.Map('map');
  var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      subDomains = ['otile1','otile2','otile3','otile4'],
      cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
      var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

      var venue = new L.LatLng(12.9334, 77.6050); // geographical point (longitude and latitude)
      var center = new L.LatLng(12.936, 77.62);
      var mobile_center = new L.LatLng(12.935, 77.591);
      map.setView(center, 14).addLayer(cloudmade);
      if (map.getSize().x < 768) { map.setView(venue,14); } // on smaller screen where map takes full-width

      var venue_marker = new L.Marker(venue);
      map.addLayer(venue_marker);
      venue_marker.bindPopup('Dharmaram Vidya Kshetram').openPopup();
      map.scrollWheelZoom.disable();
      map.doubleClickZoom.disable();
      
      map.on('zoomend', onZoomend);
      function onZoomend(){ map.setView(venue, map.getZoom()); };
});

function scroll(scrollToId)
{   
    p = $("#" + scrollToId);
    scrollTo = p.position().top;
    $('html, body').animate({scrollTop: scrollTo}, 600);
}
function cursorAnimation()
{ 
  $(".cursor").animate({opacity: 0}, 200, "swing").animate({opacity: .6}, 400).animate({opacity: 0.6}, 400).animate({opacity:0}, 200);
}
$(document).ready(function()
{
  $(window).resize(function(){    $('header').css('margin-left', (-($('header').width())/2) + "px");});
  setInterval ( "cursorAnimation()", 1000 );
  $('header').css('margin-left', (-($('header').width())/2) + "px");
});
</script>
{% endblock %}
