{% extends 'base.html' %}
{% block title %}Rootconf Bangalore 2012{% endblock %}

 {% block pageheaders %}{% endblock %}
{% block headerbox %}

<header>
  {% include "baseframe/networkbar.html" -%}
  <div class="container header navbar" id="navbar">
    <div class="row">
      <div class="span4 header-logo" onclick='scroll("home")'><span class="title">rootconf<span class="cursor">&#9611;</span></span></div>
      <div class="span5">
        <nav>
          <a href="#home" onclick="scroll('home')">home</a>
          <a href="#participate" onclick="scroll('participate')">participate</a>
          <a href="#speak" onclick="scroll('participate')">speak</a>
          <a href="#sponsor" onclick="scroll('participate')">sponsor</a>
          <a href="#venue" onclick="scroll('venue')">venue</a>
        </nav>
      </div>
      <div class="span2 header-social">
        <a href="http://twitter.com/#!/rootconf" class="twitter"></a><a href="http://www.facebook.com/HasGeek" target="_blank" class="fb"></a>
      </div>
      <div class="span1 hg"><a href="#hasgeek" onclick="scroll('hasgeek')"><img src="/static/img/hg-logo.png" /></a></div>
    </div>
    <div class="row mobile-header">
      <div class="span12 hg-mobile" align="center">
        <a href="#hasgeek" onclick="scroll('hasgeek')"><img src="/static/img/hg-logo_2.png" /></a>
      </div>
      <div class="span12 header-social-mobile">
        <a href="http://twitter.com/#!/rootconf" class="twitter"></a><a href="http://www.facebook.com/HasGeek" target="_blank" class="fb"></a>
      </div>
      

    </div>
  </div>
</header>
{% endblock %}
{% block content %}
<section>
  <div class="container" >
       <!--<div class="row" id="home">
        <div class="span12">
          <div class="monitor">
            <div class="mon1 borrad12"></div>
            <div class="mon2 borrad12"></div>
            <div class="mon3 borrad12"></div>
            <div class="mon4 borrad12"></div>
            <div class="mon5"></div>
          </div>
         
          <div class="mast">
            <p>Let there be sysadmins</p>
            <p class="date">May 26th, 2012 | Dharamaram College, Bangalore</p>
          </div>
        </div>
      </div>-->
      <div class="row content" id="home" >
        <div class="span12" align="center"><img src="/static/img/masthead.png"  class="visible-phone" /></div>
      </div>
      <div class="row" >
        <div class="span12" align="center"><h1>WHEN : MAY 26, 2012<br />VENUE : DHARMARAM VIDYA KSHETRAM, BANGALORE</h1></div>
      </div>
      <div class="row content" style="margin-top: 10px">
        <div class="span12">
          <h2>About rootconf</h2>
          <p>After last year's <a href="http://phpcloud.hasgeek.com/">Scaling with PHP in the cloud</a>, HasGeek is organizing Rootconf, an annual conference for sysadmins, devops, and BOFHs to share experience and knowledge, to teach, learn, and hangout with friends and colleagues. Rootconf will be held on <strong>May 26th, 2011, at Dharamaram College, Bangalore</strong>.</p>
          <p>If you're a Sysadmin, come over, share your experience, and crack a joke about perl.</p>
          <h3>Configuration Deployment/Magement</h3>
          <p>Have a lot of servers? How do you manage your herd? Share and learn the tricks of configuration management with your fellow server cowboys/girls. Talk about your organization!</p>
          <h3>Performance Tuning ("But does it scale?") </h3>
          <p>Dealing with a high-traffic operations and your server is not performing as well as expected? D you know how to squeeze the last inch of performance out of your server? This track will focus on showing you how!</p>
          <h3>Security</h3>
          <p>Securing access to your server can be a daunting task. Come and talk about how you do it.</p>
        </div>
      </div>
      <div class="row content full" id="participate">
        <div class="span4">
          <h2>Participate</h2>
          <p>Get the super early geek tickets now!</p>
          <p>Look at the <a href="http://funnel.hasgeek.com/rootconf">existing proposals.</a></p>
          <p><a class="btn-warning btn-large" target=_blank href="http://rootconf.doattend.com/">Book now</a></p>
        </div><!--/span-->
         <div class="span4">
          <h2>Speak</h2>
          <p>Do you have what it takes to speak to fellow sysadmins?</p>
          <p><a class="btn-warning btn-large" target=_blank href="http://funnel.hasgeek.com/rootconf">Propose a Session</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Sponsor</h2>
          <p>Would you or your employer like to sponsor Rootconf? </p>
          <p><a class="btn-warning btn-large" target=_blank href="/static/SponsorKit_rootconf.pdf" target="_blank">Get in Touch</a></p>
        </div><!--/span-->
      </div><!--/row-->
      
      <div class="row content" id="venue"><div class="span12"><h2 id="location">Venue</h2></div></div>
       <div class="row">
        <div class="span6">
          <div id="map" class="map"></div>
        </div>
        <div class="span6">
        <h3 style="text-transform: uppercase; font-size: 25pt">Dharmaram Vidya Kshetram</h3>
        <p><strong>Christ University Campus</strong>, Bangalore</p><hr />
        <p>Rootconf is set in Dharmaram College's beautiful, tree-filled campus (nothing like the back-to-college feeling). There's three rooms, and plenty of space to Hangout™ in meat-space. You'll love the garden.
        To get there, enter Christ University's main entrance gate (the one on the right) and drive straight down to Dharmaram College, within the campus. Christ University is at Dairy Circle, half a kilometre from the Forum Mall.</p><hr />
        <h3><span>WHEN</span> : May 26, 2012</h3>
        </div>
      </div>
      <div class="row content" id="hasgeek">
        <div class="span12">
          <h2 id="abouthg">About HasGeek</h2>
          <p><a href="http://hasgeek.com">HasGeek</a> is a developer-led initiative, and has been un-organising the unconference scene since 2010. HasGeek is an attempt to solve the problem of insipid conferences organised around buzzwords by uninterested, soulless corporate entities who pitch them as company training events or as places for companies to pick up hot developers.</p>

          <p>We are attempting to build a new space, a space that is genuinely respectful of the communities and topics that we choose to engage with. We want to be a space for developers who are as excited as us about technology and the possibilities that it creates, not to be a recruitment fair (though we hope you do find partnership possibilities at our events).</p>
        
          <p>We are community-driven – check out our speaker-selection funnel, where you decide what talks to listen to by voting up or down – and small – there are just a handful of us running the show. We are doing this because this is what we love: bringing a whole bunch of us geeks together, sharing our interests and expertise and hanging out later over beverage of choice.</p>
        </div><!--/span-->
      </div><!--/row-->
    </div>
</section>    
{% endblock %}
{% block footerscripts %} 
<script>

$(function() {
  var map = new L.Map('map');
  var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      subDomains = ['otile1','otile2','otile3','otile4'],
      cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
      var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

      var venue = new L.LatLng(12.9334, 77.6050); // geographical point (longitude and latitude)
      var center = new L.LatLng(12.936, 77.62);
      var mobile_center = new L.LatLng(12.935, 77.591);
      map.setView(center, 14).addLayer(cloudmade);
      if (map.getSize().x < 768) { map.setView(venue,14); } // on smaller screen where map takes full-width

      var venue_marker = new L.Marker(venue);
      map.addLayer(venue_marker);
      venue_marker.bindPopup('Dharmaram Vidya Kshetram').openPopup();
      map.scrollWheelZoom.disable();
      map.doubleClickZoom.disable();
      
      map.on('zoomend', onZoomend);
      function onZoomend(){ map.setView(venue, map.getZoom()); };
});

function scroll(scrollToId)
{   
    p = $("#" + scrollToId);
    scrollTo = p.position().top;
    $('html, body').animate({scrollTop: scrollTo}, 600);
}
function cursorAnimation()
{ 
  $(".cursor").animate({opacity: 0}, 200, "swing").animate({opacity: .6}, 400).animate({opacity: 0.6}, 400).animate({opacity:0}, 200);
}
$(document).ready(function()
{
  $(window).resize(function(){    $('header').css('margin-left', (-($('header').width())/2) + "px");});
  setInterval ( "cursorAnimation()", 1000 );
  $('header').css('margin-left', (-($('header').width())/2) + "px");
});
</script>
{% endblock %}
