{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>Rootconf!</h1>
            <p>A 1-day conference for sysadmins and BOFHs where the masters talk about configuration management in the cloud on May 26th in Bangalore.</p>
            <p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Participate</h2>
              <p>Registration for the conference will open soon!</p>
              <p><a class="btn" href="#">Coming Soon &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Speak</h2>
              <p>Do you think you'd like you share your knowledge about system adiministration?</p>
              <p><a class="btn" href="#">Propose a Session &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Sponsor</h2>
              <p>Would you or your employer like to sponsor Rootconf?</p>
              <p><a class="btn" href="#">Learn More &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
{% endblock %}
